@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * General stuff
 */
:root {
  background: #f5f5f7;
  font-size: 16px;
  color-scheme: light;
}

@media only screen and (min-width: 2000px) {
  :root {
    font-size: 22px;
  }
}
